*, *::before, *::after {
  padding 0; margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;

  font-family: sans-serif;
}

#chat-display {
  height: 100%;
  padding-bottom: 30px;

  font-size: 30px;
}

#chat-display ul {
  padding 0; margin: 0;

  word-wrap: break-word;
  list-style-type: none;
}

#chat-display li {
  padding-bottom: 0.5em;
}

.scroll {
  height: 100%;
  overflow-y: scroll;
}

#chat-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
}

#chat-input input {
  width: 90%;
  height: 100%;
  float: left;
}

#chat-input button {
  width: 10%;
  height: 100%;
  float: right;
}
